// $primary : #FE5F1E;
$primary : #960202;


$primary-hover: #b23301;

$secondary: #F8F8F8;
// $secondary: #f4f4fc;

$pure: #fff;

$dark: #232323;

$gray: #ccc;

// Transition

$smooth: all .3s ease-in-out;