@import './variables';

body{
    font-family: 'Lato, sans-serif';
    -webkit-font-smoothing: antialiased;
    color : $dark;
}

nav li:last-child a {
    background: $primary;
    &:hover{
        background : $primary-hover;
        }
}

nav li a{
    transition: $smooth;
    &:hover{
    color : $primary;
    }
}

section.hero {
    background: $secondary;
}

.size
{
    background: $secondary;
}

.add-to-cart
{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    background-color:white;
    z-index: 1;
    &:hover
    {
        background-color:$primary;
        border-color: $pure;
        color:$pure
    }

}

.btn-primary
{
    background: $primary;
    &:hover{
        background: $primary-hover;
        transition: $smooth;
    }
}

section.cart
{
    background: $secondary;

    .amount
    {
        color: $primary;
    }
}

section.login
{
    background: $secondary;
    min-height: 100vh;
}

// #added
// {   z-index: 0;
//     margin-top: -10px;
//     border: 2px $primary solid;
//     margin-left:-180px;
//     margin-bottom:40px;
//     animation: animate 2s 1 ease-in-out;
    
    
// }
// @keyframes animate
// {
//     0%
//     {
//       margin-top : -10px;
//     }
//     25%
//     {
//         margin-top: 10px;
//     }
//     50%
//     {
//         margin-top: 40px;
//     }
//     65%
//     {
//         margin-top: 30px;
//     }
//     80%
//     {
//         margin-top: 10px;
//     }
//     100%
//     {
//         margin-top: -10px ;
//     }
// }


@media(max-width: 1060px){
    .container
    {
        max-width: 90%;
    }
}